---
- name: Check if inventory file variables are defined
  fail: msg="Please specify the value of {{item}} in your inventory file"
  tags: always
  when: "{{item}} is undefined or {{item}} == ''"
  with_items:
    - pgo_operator_namespace
    - namespace
    - pgo_admin_username
    - pgo_admin_password
    - ccp_image_prefix
    - ccp_image_tag
    - pgo_image_prefix
    - pgo_image_tag
    - auto_failover
    - backrest
    - badger
    - metrics
    - archive_mode
    - archive_timeout
    - auto_failover_sleep_secs
    - db_password_age_days
    - db_password_length
    - db_port
    - db_replicas
    - db_user
    - backup_storage
    - primary_storage
    - replica_storage
    - storage1_access_mode
    - storage1_size
    - storage1_type
    - storage2_access_mode
    - storage2_size
    - storage2_type
    - storage3_access_mode
    - storage3_size
    - storage3_type
    - pgo_client_version
