{
    "apiVersion": "v1",
    "kind": "Secret",
    "metadata": {
        "name": "grafana-secret"
    },
    "type": "Opaque",
    "stringData": {
        "username": "{{ grafana_admin_username }}",
        "password": "{{ grafana_admin_password }}"
    }
}
