{
    "apiVersion": "v1",
    "kind": "ServiceAccount",
    "metadata": {
        "name": "grafana",
        "namespace": "{{ metrics_namespace }}"
    },
    "automountServiceAccountToken": false,
    "imagePullSecrets": [
{% if ccp_image_pull_secret %}
        { "name": "{{ ccp_image_pull_secret }}" }
{% endif %}
    ]
}
