# Copyright Crunchy Data Solutions, Inc. All rights reserved.
#
# schema-documentation: https://docs.gitlab.com/ci/yaml
# yaml-language-server: $schema=https://gitlab.com/gitlab-org/gitlab/-/raw/master/app/assets/javascripts/editor/schema/ci.json

spec:
  inputs:

    # https://go.dev/doc/install/source#environment
    architectures:
      type: array
      default: ['amd64','arm64']
      description: >
        The CPU architectures on which to run tests

    # TODO(retention): We can increase the retention on scheduled pipelines after
    # https://gitlab.com/groups/gitlab-org/-/epics/16321
    retention:
      type: string
      default: 2d  # Enough time to find and address MR failures the following day
      description: >
        How long to keep reports; see https://docs.gitlab.com/ci/yaml#artifactsexpire_in
---

# https://docs.gitlab.com/ci/yaml/workflow
workflow:
  rules:
    - if: >-
        ($CI_PIPELINE_SOURCE == "merge_request_event") ||
        ($CI_PIPELINE_SOURCE == "schedule") ||
        ($CI_PIPELINE_SOURCE == "web")

variables:
  # https://docs.gitlab.com/runner/configuration/feature-flags
  # Show the duration of individual script items in the job log.
  FF_SCRIPT_SECTIONS: 'true'

# See: [.github/workflows/lint.yaml]
# This uses a specific minor version of golangci-lint to ensure new code conforms
# to the rules we set when this release branch was cut. We do not want new rules
# suggesting sweeping changes to our release branches.
#
# NOTE(2025-04): Some versions of golangci-lint eat memory until they are killed by Linux.
# > Ops Team:
# > this container was hanging around even after the ci job died
# > `golangci-lint run` was using ~240GB of RAM and caused the system to swap
#
# |                       | go1.21.13 | go1.22.12 | go1.23.8 | go1.24.2  |
# | golangci-lint@v1.54.2 | typecheck | typecheck | panic    | typecheck |
# | golangci-lint@v1.55.2 | typecheck | typecheck | panic    | typecheck |
# | golangci-lint@v1.56.2 | killed    | killed    | panic    | typecheck |
# | golangci-lint@v1.57.2 | killed    | killed    | panic    | typecheck |
# | golangci-lint@v1.58.2 | killed    | killed    | panic    | typecheck |
# | golangci-lint@v1.59.1 | killed    | killed    | panic    | typecheck |
# | golangci-lint@v1.60.3 | go1.22.1  | go1.23.0  | pass     | typecheck |
# | golangci-lint@v1.61.0 | go1.22.1  | go1.23.0  | pass     | typecheck |
# | golangci-lint@v1.62.2 | go1.22.1  | go1.23.0  | pass     | recvcheck |
# | golangci-lint@v1.63.4 | go1.22.1  | go1.23.0  | pass     | pass |
# | golangci-lint@v1.64.8 | go1.23.0  | go1.23.0  | pass     | pass |
golang-lint:
  stage: build
  needs: []
  tags: ['image=container']
  image: '${CI_REGISTRY}/containers/gitlab/go-toolset-ubi9'
  script:
    # Help Git understand the file permissions here.
    # > fatal: detected dubious ownership in repository
    - git config --global --add safe.directory "$(pwd)"

    # Download golangci-lint and log its version.
    - |-
      TOOL='github.com/golangci/golangci-lint/cmd/golangci-lint@v1.64'
      go run "${TOOL}" version

    # Produce a report for the GitLab UI. This only fails when the tool crashes.
    - >-
      go run "${TOOL}" run
      --concurrency 2
      --timeout 5m
      --issues-exit-code 0
      --max-issues-per-linter 0
      --max-same-issues 0
      --out-format junit-xml-extended > golangci-lint.junit.xml

    # Fail the job if there are any issues found and print a handful to the log.
    - >-
      go run "${TOOL}" run
      --concurrency 2
      --timeout 5m
      --verbose

  # Send the report to GitLab.
  artifacts:
    expire_in: '$[[ inputs.retention ]]'
    reports:
      junit: golangci-lint.junit.xml

# See: [.github/workflows/test.yaml]
must-commit-generated:
  stage: build
  needs: []
  tags: ['image=container']
  image: '${CI_REGISTRY}/containers/gitlab/go-toolset-ubi9'
  script:
    # Help Git understand the file permissions here.
    # > fatal: detected dubious ownership in repository
    - git config --global --add safe.directory "$(pwd)"
    - make check-generate

# See: [.github/workflows/test.yaml]
# This uses the latest version of Go we have internally.
go-test:
  stage: test
  needs:
    - job: must-commit-generated
  tags: ['image=container','cpu=${TARGET_ARCHITECTURE}']
  image: '${CI_REGISTRY}/containers/gitlab/go-toolset-ubi9'
  parallel:
    matrix:
      - TARGET_ARCHITECTURE: $[[ inputs.architectures ]]
  script:
    # Help Git understand the file permissions here.
    # > fatal: detected dubious ownership in repository
    - git config --global --add safe.directory "$(pwd)"

    # Tidy the file and fail if it changed.
    - go mod tidy && git diff --exit-code -- go.mod
    - go mod download

    # Run the fast/unit tests first. Failure here fails the job.
    - >-
      make check
      GO_TEST='go run gotest.tools/gotestsum@latest --'
      GOTESTSUM_JUNITFILE="make-check-${TARGET_ARCHITECTURE}.junit.xml"

    # Run the entire test suite using a local Kubernetes API.
    - >-
      make check-envtest
      ENVTEST_K8S_VERSION='1.32'
      GO_TEST='go run gotest.tools/gotestsum@latest --'
      GOTESTSUM_JUNITFILE="make-check-envtest-${TARGET_ARCHITECTURE}.junit.xml"

  # Send the reports to GitLab.
  artifacts:
    expire_in: '$[[ inputs.retention ]]'
    reports:
      junit: '*.junit.xml'

# See: [.github/workflows/trivy.yaml]
trivy:
  stage: test
  needs: []
  rules:
    # Run this job during scheduled pipelines and merge requests that change dependencies.
    - changes: ['go.mod']

  tags: ['image=container']
  image: '${CI_REGISTRY}/containers/gitlab/go-toolset-ubi9'
  script:
    # Help Git understand the file permissions here.
    # > fatal: detected dubious ownership in repository
    - git config --global --add safe.directory "$(pwd)"

    # Download Trivy and log its version.
    - |-
      VERSION=$(go list -m -f '{{.Version}}' github.com/aquasecurity/trivy@latest)
      TOOL="github.com/aquasecurity/trivy/cmd/trivy@${VERSION}"
      go run -exec true "${TOOL}"

    # Download the JUnit template for this version.
    - curl -sSL -o /tmp/trivy-junit.tpl "https://raw.githubusercontent.com/aquasecurity/trivy/refs/tags/${VERSION}/contrib/junit.tpl"

    # Generate a report and fail when there are issues that can be fixed.
    # Trivy needs a populated Go module cache to detect Go module licenses.
    - go mod download
    - >-
      go run "${TOOL}" filesystem . --exit-code 1
      --scanners license,secret,vuln
      --ignore-unfixed
      --no-progress
      --format template
      --template '@/tmp/trivy-junit.tpl'
      --output 'trivy.junit.xml'

  # Send the report to GitLab.
  artifacts:
    expire_in: '$[[ inputs.retention ]]'
    reports:
      junit: 'trivy.junit.xml'
