---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pgo
spec:
  replicas: 1
  strategy: { type: Recreate }
  template:
    spec:
      containers:
      - name: operator
        image: postgres-operator
        env:
        - name: PGO_INSTALLER
          value: kustomize
        - name: PGO_INSTALLER_ORIGIN
          value: postgres-operator-repo
        - name: PGO_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: CRUNCHY_DEBUG
          value: "true"
        - name: RELATED_IMAGE_POSTGRES_15
          value: "registry.developers.crunchydata.com/crunchydata/crunchy-postgres:ubi8-15.14-2534"
        - name: RELATED_IMAGE_POSTGRES_16
          value: "registry.developers.crunchydata.com/crunchydata/crunchy-postgres:ubi8-16.10-2534"
        - name: RELATED_IMAGE_POSTGRES_16_GIS_3.3
          value: "registry.developers.crunchydata.com/crunchydata/crunchy-postgres-gis:ubi8-16.10-3.3-2534"
        - name: RELATED_IMAGE_POSTGRES_16_GIS_3.4
          value: "registry.developers.crunchydata.com/crunchydata/crunchy-postgres-gis:ubi8-16.10-3.4-2534"
        - name: RELATED_IMAGE_POSTGRES_17
          value: "registry.developers.crunchydata.com/crunchydata/crunchy-postgres:ubi8-17.6-2534"
        - name: RELATED_IMAGE_POSTGRES_17_GIS_3.4
          value: "registry.developers.crunchydata.com/crunchydata/crunchy-postgres-gis:ubi8-17.6-3.4-2534"
        - name: RELATED_IMAGE_PGADMIN
          value: "registry.developers.crunchydata.com/crunchydata/crunchy-pgadmin4:ubi8-4.30-2534"
        - name: RELATED_IMAGE_PGBACKREST
          value: "registry.developers.crunchydata.com/crunchydata/crunchy-pgbackrest:ubi8-2.56.0-2534"
        - name: RELATED_IMAGE_PGBOUNCER
          value: "registry.developers.crunchydata.com/crunchydata/crunchy-pgbouncer:ubi8-1.24-2534"
        - name: RELATED_IMAGE_PGEXPORTER
          value: "registry.developers.crunchydata.com/crunchydata/crunchy-postgres-exporter:ubi8-0.17.1-2534"
        - name: RELATED_IMAGE_PGUPGRADE
          value: "registry.developers.crunchydata.com/crunchydata/crunchy-upgrade:ubi8-17.6-2534"
        - name: RELATED_IMAGE_STANDALONE_PGADMIN
          value: "registry.developers.crunchydata.com/crunchydata/crunchy-pgadmin4:ubi8-9.2-2534"
        securityContext:
          allowPrivilegeEscalation: false
          capabilities: { drop: [ALL] }
          readOnlyRootFilesystem: true
          runAsNonRoot: true
      serviceAccountName: pgo
