{
    "apiVersion": "batch/v1",
    "kind": "Job",
    "metadata": {
        "name": "pgo-uninstaller",
        "namespace": "{{ pgo_installer_namespace }}",
        "labels": {
            "vendor": "crunchydata"
        }
    },
    "spec": {
        "backoffLimit": 0,
        "template": {
            "metadata": {
                "name": "pgo-uninstaller",
                "labels": {
                    "name": "pgo-uninstaller",
                    "vendor": "crunchydata"
                }
            },
            "spec": {
                "serviceAccountName": "{{ pgo_installer_sa }}",
                "restartPolicy": "Never",
                "containers": [
                    {
                        "name": "installer",
                        "command": ["/pgo-install.sh","uninstall"],
                        "image": "{{ pgo_image_prefix }}/pgo-installer:{{ pgo_image_tag }}",
                        "imagePullPolicy": "{{ installer_img_pull_policy }}",
                        "env": [
                            {
                                "name": "HOME",
                                "value": "/tmp"
                            },{
                                "name": "ANSIBLE_CONFIG",
                                "value": "/ansible/ansible.cfg"
                            }
                        ],
                        "volumeMounts": [
                            {
                                "name": "inventory",
                                "mountPath": "ansible-inventory"
                            }
                        ]
                    }
                ],
                "volumes": [
                    {
                        "name": "inventory",
                        "configMap": {
                            "name": "{{ pgo_installer_configmap }}"
                        }
                    }
                ]
            }
        }
    }
}

