# https://docs.github.com/en/repositories/working-with-files/managing-files/customizing-how-changed-files-appear-on-github
# https://github.com/github/linguist/blob/v7.16.0/docs/overrides.md
/crd.md linguist-generated
