---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: postgres-operator
  namespace: {{ pgo_operator_namespace }}
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: pgopclusterrolesecret-{{ pgo_operator_namespace }}
rules:
  - verbs:
      - get
      - list
      - create
    apiGroups:
      - '*'
    resources:
      - secrets
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: pgopclusterrole-{{ pgo_operator_namespace }}
rules:
  - verbs:
      - get
      - list
    apiGroups:
      - '*'
    resources:
      - nodes
      - pods
      - configmaps
      - namespaces
      - storageclasses
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: pgopclusterrolecrd-{{ pgo_operator_namespace }}
rules:
  - verbs:
      - '*'
    apiGroups:
      - '*'
    resources:
      - pgclusters
      - pgpolicies
      - pgtasks
      - pgbackups
      - pgreplicas
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: pgopclusterbinding-{{ pgo_operator_namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: pgopclusterrole-{{ pgo_operator_namespace }}
subjects:
- apiGroup: rbac.authorization.k8s.io
  kind: User
  name: system:serviceaccount:{{ pgo_operator_namespace }}:postgres-operator
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: pgopclusterbindingcrd-{{ pgo_operator_namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: pgopclusterrolecrd-{{ pgo_operator_namespace }}
subjects:
- apiGroup: rbac.authorization.k8s.io
  kind: User
  name: system:serviceaccount:{{ pgo_operator_namespace }}:postgres-operator
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: pgopclusterbindingsecret-{{ pgo_operator_namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: pgopclusterrolesecret-{{ pgo_operator_namespace }}
subjects:
- apiGroup: rbac.authorization.k8s.io
  kind: User
  name: system:serviceaccount:{{ pgo_operator_namespace }}:postgres-operator
