{
    "apiVersion": "extensions/v1beta1",
    "kind": "Deployment",
    "metadata": {
        "name": "postgres-operator",
        "labels": {
        	"vendor": "crunchydata"
        }
    },
    "spec": {
        "replicas": 1,
        "template": {
            "metadata": {
                "labels": {
                    "name": "postgres-operator",
                    "vendor": "crunchydata"
                }
            },
            "spec": {
                "serviceAccountName": "postgres-operator",
                "containers": [
                    {
                        "name": "apiserver",
                        "image": "{% if pgo_apiserver_image | default('') != '' %}{{ pgo_apiserver_image }}
                                {%- else %}{{ pgo_image_prefix }}/pgo-apiserver:{{ pgo_image_tag }}
                                {%- endif %}",
                        "imagePullPolicy": "IfNotPresent",
                        "ports": [
                            {
                                "containerPort": {{ pgo_apiserver_port }}
                            }
                        ],
                        "env": [
                            {
                                "name": "CRUNCHY_DEBUG",
                                "value": "{{ crunchy_debug }}"
                            },
                            {
                                "name": "PORT",
                                "value": "{{ pgo_apiserver_port }}"
                            },
                            {
                                "name": "PGO_INSTALLATION_NAME",
                                "value": "{{ pgo_installation_name }}"
                            },
                            {
                                "name": "EVENT_ADDR",
                                "value": "localhost:4150"
                            },
                            {
                                "name": "PGO_OPERATOR_NAMESPACE",
                                "valueFrom": {
                                    "fieldRef": {
                                        "fieldPath": "metadata.namespace"
                                    }
                                }
                            },
                            {
                                "name": "TLS_NO_VERIFY",
                                "value": "{{ pgo_tls_no_verify }}"
                            },
                            {
                                "name": "DISABLE_TLS",
                                "value": "{{ pgo_disable_tls }}"
                            },
                            {
                                "name": "DISABLE_EVENTING",
                                "value": "{{ pgo_disable_eventing }}"
                            }
                        ],
                        "volumeMounts": []
                    },
                    {
                        "name": "operator",
                        "image": "{% if pgo_image | default('') != '' %}{{ pgo_image }}
                                {%- else %}{{ pgo_image_prefix }}/postgres-operator:{{ pgo_image_tag }}
                                {%- endif %}",
                        "imagePullPolicy": "IfNotPresent",
                        "readinessProbe": {
                            "exec": {
                                "command": [
                                    "ls",
                                    "/tmp"
                                ]
                            },
                            "initialDelaySeconds": 4,
                            "periodSeconds": 5
                        },
                        "env": [
                            {
                                "name": "CRUNCHY_DEBUG",
                                "value": "{{ crunchy_debug }}"
                            },
                            {
                                "name": "NAMESPACE",
                                "value": "{{ namespace }}"
                            },
                            {
                                "name": "PGO_INSTALLATION_NAME",
                                "value": "{{ pgo_installation_name }}"
                            },
                            {
                                "name": "EVENT_ADDR",
                                "value": "localhost:4150"
                            },
                            {
                                "name": "PGO_OPERATOR_NAMESPACE",
                                "valueFrom": {
                                    "fieldRef": {
                                        "fieldPath": "metadata.namespace"
                                    }
                                }
                            },
                            {
                                "name": "MY_POD_NAME",
                                "valueFrom": {
                                    "fieldRef": {
                                        "fieldPath": "metadata.name"
                                    }
                                }
                            },
                            {
                                "name": "DISABLE_EVENTING",
                                "value": "{{ pgo_disable_eventing }}"
                            }
                        ],
                        "volumeMounts": []
                    },
                    {
                        "name": "scheduler",
                        "image": "{% if pgo_scheduler_image | default('') != '' %}{{ pgo_scheduler_image }}
                                {%- else %}{{ pgo_image_prefix }}/pgo-scheduler:{{ pgo_image_tag }}
                                {%- endif %}",
                        "readinessProbe": {
                            "exec": {
                                "command": [
                                    "ls",
                                    "/tmp"
                                ]
                            },
                            "initialDelaySeconds": 4,
                            "periodSeconds": 5
                        },
                        "env": [
                            {
                                "name": "PGO_OPERATOR_NAMESPACE",
                                "valueFrom": {
                                    "fieldRef": {
                                        "fieldPath": "metadata.namespace"
                                    }
                                }
                            },
                            {
                                "name": "PGO_INSTALLATION_NAME",
                                "value": "{{ pgo_installation_name }}"
                            },
                            {
                                "name": "TIMEOUT",
                                "value": "{{ scheduler_timeout }}"
                            },
                            {
                                "name": "EVENT_ADDR",
                                "value": "localhost:4150"
                            },
                            {
                                "name": "CRUNCHY_DEBUG",
                                "value": "{{ crunchy_debug }}"
                            }
                        ],
                        "volumeMounts": [],
                        "resources": {},
                        "imagePullPolicy": "IfNotPresent"
                    }, {
                        "name": "event",
                        "image": "{% if pgo_event_image | default('') != '' %}{{ pgo_event_image }}
                                {%- else %}{{ pgo_image_prefix }}/pgo-event:{{ pgo_image_tag }}
                                {%- endif %}",
                        "env": [
                            {
                                "name": "TIMEOUT",
                                "value": "3600"
                            }
                        ],
                        "volumeMounts": [
                        ],
                        "resources": {},
                        "imagePullPolicy": "IfNotPresent"
                    }
                ],
                "volumes": []
            }
        }
    }
}
