Cluster:
  PrimaryNodeLabel:
  ReplicaNodeLabel:
  CCPImagePrefix:  {{ ccp_image_prefix }}
  CCPImageTag:  {{ ccp_image_tag }}
  Autofail:  {{ auto_failover }}
  AutofailReplaceReplica:  {{ auto_failover_replace_replica }}
  Backrest:  {{ backrest }}
  BackrestPort:  {{ backrest_port }}
  BackrestS3Bucket: {{ backrest_aws_s3_bucket }}
  BackrestS3Endpoint: {{ backrest_aws_s3_endpoint }}
  BackrestS3Region: {{ backrest_aws_s3_region }}
  Metrics:  {{ metrics }}
  Badger:  {{ badger }}
  Port:  {{ db_port }}
  User:  {{ db_user}}
  Database:  {{ db_name }}
  PasswordAgeDays:  {{ db_password_age_days }}
  PasswordLength:  {{ db_password_length }}
  Strategy:  1
  Replicas:  {{ db_replicas }}
  ArchiveMode:  {{ archive_mode }}
  ArchiveTimeout:  {{ archive_timeout }}
  ServiceType:  {{ service_type }}
  LogStatement: {{ log_statement }}
  LogMinDurationStatement:  {{ log_min_duration_statement }}
PrimaryStorage: {{ primary_storage }}
BackupStorage: {{ backup_storage }}
ReplicaStorage: {{ replica_storage }}
BackrestStorage: {{ backrest_storage }}
Storage:
{% for i in range(1, max_storage_configs) %}
{% if lookup('vars', 'storage' + i|string + '_name', default='')  != '' %}
  {{ lookup('vars', 'storage' + i|string + '_name', default='') }}:
    AccessMode:  {{ lookup('vars', 'storage' + i|string + '_access_mode') }}
    Size:  {{ lookup('vars', 'storage' + i|string + '_size') }}
    StorageType:  {{ lookup('vars', 'storage' + i|string + '_type') }}
{% if lookup('vars', 'storage' + i|string + '_match_labels', default='') != '' %}
    MatchLabels: {{ lookup('vars', 'storage' + i|string + '_match_labels') }}
{% endif %}
{% if lookup('vars', 'storage' + i|string + '_class', default='') != '' %}
    StorageClass: {{ lookup('vars', 'storage' + i|string + '_class') }}
{% endif %}
{% if lookup('vars', 'storage' + i|string + '_supplemental_groups', default='') != '' %}
    SupplementalGroups: {{ lookup('vars', 'storage' + i|string + '_supplemental_groups') }}
{% endif %}
{% if lookup('vars', 'storage' + i|string + '_fs_group', default='') != '' %}
    Fsgroup: {{ lookup('vars', 'storage' + i|string + '_fs_group') }}
{% endif %}
{% endif %}
{% endfor %}
DefaultContainerResources: {{ default_container_resources }}
DefaultLoadResources: {{ default_pgpool_resources }}
DefaultLspvcResources: {{ default_lspvc_resources }}
DefaultRmdataResources: {{ default_rmdata_resources }}
DefaultBackupResources: {{ default_backup_resources }}
DefaultPgbouncerResources: {{ default_pgbouncer_resources }}  
DefaultPgpoolResources: {{ default_pgpool_resources }}
ContainerResources:
{% for i in range(1, max_resource_configs) %}
{% if lookup('vars', 'resource' + i|string + '_name', default='')  != '' %}
  {{ lookup('vars', 'resource' + i|string + '_name', default='') }}:
    RequestsMemory: {{ lookup('vars', 'resource' + i|string + '_requests_memory') }}
    RequestsCPU: {{ lookup('vars', 'resource' + i|string + '_requests_cpu') }}
    LimitsMemory: {{ lookup('vars', 'resource' + i|string + '_limits_memory') }}
    LimitsCPU: {{ lookup('vars', 'resource' + i|string + '_limits_cpu') }}
{% endif %}
{% endfor %}
Pgo:
  AutofailSleepSeconds:  {{ auto_failover_sleep_secs }} 
  Audit:  false
  LSPVCTemplate:  /pgo-config/pgo.lspvc-template.json
  LoadTemplate:  /pgo-config/pgo.load-template.json
  PGOImagePrefix:  {{ pgo_image_prefix }}
  PGOImageTag:  {{ pgo_image_tag }}
