{
    "kind": "Service",
    "apiVersion": "v1",
    "metadata": {
	"name": "postgres-operator",
        "labels": {
            "name": "postgres-operator"
        }
    },
    "spec": {
        "ports": [
            {
                "name": "apiserver",
                "protocol": "TCP",
                "port": {{ pgo_apiserver_port }},
                "targetPort": {{ pgo_apiserver_port }}
            },
	        {
                "name": "nsqadmin",
                "protocol": "TCP",
                "port": 4151,
                "targetPort": 4151
            },
	        {
                "name": "nsqd",
                "protocol": "TCP",
                "port": 4150,
                "targetPort": 4150
            }
	    ],
        "selector": {
            "name": "postgres-operator"
        },
        "type": "ClusterIP",
        "sessionAffinity": "None"
    }
}
