---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: pgo-local-ns
rules:
  - apiGroups:
      - ''
    resources:
      - serviceaccounts
    verbs:
      - get
      - create
      - update
      - delete
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - roles
      - rolebindings
    verbs:
      - get
      - create
      - update
      - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: pgo-local-ns
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: pgo-local-ns
subjects:
- kind: ServiceAccount
  name: postgres-operator
  namespace: $PGO_OPERATOR_NAMESPACE
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: pgo-target-role-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: pgo-target-role
subjects:
- kind: ServiceAccount
  name: postgres-operator
  namespace: $PGO_OPERATOR_NAMESPACE
