---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: pgo-role
  namespace: "$PGO_OPERATOR_NAMESPACE"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: pgo-role
subjects:
- kind: ServiceAccount
  name: postgres-operator
  namespace: "$PGO_OPERATOR_NAMESPACE"
