{
    "apiVersion": "apps/v1",
    "kind": "Deployment",
    "metadata": {
        "name": "postgres-operator",
        "labels": {
            "vendor": "crunchydata"
        }
    },
    "spec": {
        "replicas": 1,
        "selector": {
            "matchLabels": {
                "name": "postgres-operator",
                "vendor": "crunchydata"
            }
        },
        "template": {
            "metadata": {
                "labels": {
                    "name": "postgres-operator",
                    "vendor": "crunchydata"
                }
            },
            "spec": {
                "serviceAccountName": "postgres-operator",
                "containers": [
                    {
                        "name": "apiserver",
                        "image": "{% if pgo_apiserver_image | default('') != '' %}{{ pgo_apiserver_image }}
                                {%- else %}{{ pgo_image_prefix }}/pgo-apiserver:{{ pgo_image_tag }}
                                {%- endif %}",
                        "imagePullPolicy": "IfNotPresent",
                        "ports": [
                            { "containerPort": {{ pgo_apiserver_port }} }
                        ],
                        "readinessProbe": {
                            "httpGet": {
                                "path": "/healthz",
                                "port": {{ pgo_apiserver_port }},
                                "scheme": {% if pgo_disable_tls == "true" %}"HTTP"{%- else %}"HTTPS"{%- endif %}
                            },
                            "initialDelaySeconds": 15,
                            "periodSeconds": 5
                        },
                        "livenessProbe": {
                            "httpGet": {
                                "path": "/healthz",
                                "port": {{ pgo_apiserver_port }},
                                "scheme": {% if pgo_disable_tls == "true" %}"HTTP"{%- else %}"HTTPS"{%- endif %}
                            },
                            "initialDelaySeconds": 15,
                            "periodSeconds": 5
                        },
                        "env": [
                            {
                                "name": "CRUNCHY_DEBUG",
                                "value": "{{ crunchy_debug }}"
                            },
                            {
                                "name": "PORT",
                                "value": "{{ pgo_apiserver_port }}"
                            },
                            {
                                "name": "NAMESPACE",
                                "value": "{{ namespace }}"
                            },
                            {
                                "name": "PGO_INSTALLATION_NAME",
                                "value": "{{ pgo_installation_name }}"
                            },
                            {
                                "name": "PGO_OPERATOR_NAMESPACE",
                                "valueFrom": {
                                    "fieldRef": {
                                        "fieldPath": "metadata.namespace"
                                    }
                                }
                            },
                            {
                                "name": "TLS_CA_TRUST",
                                "value": "{{ pgo_tls_ca_store }}"
                            },
                            {
                                "name": "TLS_NO_VERIFY",
                                "value": "{{ pgo_tls_no_verify }}"
                            },
                            {
                                "name": "DISABLE_TLS",
                                "value": "{{ pgo_disable_tls }}"
                            },
                            {
                                "name": "NOAUTH_ROUTES",
                                "value": "{{ pgo_noauth_routes }}"
                            },
                            {
                                "name": "ADD_OS_TRUSTSTORE",
                                "value": "{{ pgo_add_os_ca_store }}"
                            }
                        ],
                        "volumeMounts": []
                    }, {
                        "name": "operator",
                        "image": "{% if pgo_image | default('') != '' %}{{ pgo_image }}
                                {%- else %}{{ pgo_image_prefix }}/postgres-operator:{{ pgo_image_tag }}
                                {%- endif %}",
                        "imagePullPolicy": "IfNotPresent",
                        "readinessProbe": {
                            "exec": {
                                "command": [
                                    "ls",
                                    "/tmp"
                                ]
                            },
                            "initialDelaySeconds": 4,
                            "periodSeconds": 5
                        },
                        "env": [
                            {
                                "name": "CRUNCHY_DEBUG",
                                "value": "{{ crunchy_debug }}"
                            },
                            {
                                "name": "NAMESPACE",
                                "value": "{{ namespace }}"
                            },
                            {
                                "name": "PGO_INSTALLATION_NAME",
                                "value": "{{ pgo_installation_name }}"
                            },
                            {
                                "name": "PGO_OPERATOR_NAMESPACE",
                                "valueFrom": {
                                    "fieldRef": {
                                        "fieldPath": "metadata.namespace"
                                    }
                                }
                            },
                            {
                                "name": "MY_POD_NAME",
                                "valueFrom": {
                                    "fieldRef": {
                                        "fieldPath": "metadata.name"
                                    }
                                }
                            }
                        ],
                        "volumeMounts": []
                    }
                ],
                "volumes": []
            }
        }
    }
}
