{
    "apiVersion": "apps/v1",
    "kind": "Deployment",
    "metadata": {
        "name": "pgo-client",
        "namespace": "{{ pgo_operator_namespace }}",
        "labels": {
            "vendor": "crunchydata"
        }
    },
    "spec": {
        "replicas": 1,
        "selector": {
                "matchLabels": {
                        "name": "pgo-client",
                        "vendor": "crunchydata"
                }
        },
        "template": {
            "metadata": {
                "labels": {
                    "name": "pgo-client",
                    "vendor": "crunchydata"
                }
            },
            "spec": {
                {% if pgo_image_pull_secret %}
                "imagePullSecrets": [
                    { "name": "{{ pgo_image_pull_secret }}" }
                ],
                {% endif %}
                "containers": [
                    {
                        "name": "pgo",
                                "image": "{% if pgo_client_image | default('') != '' %}{{ pgo_client_image }}
                                        {%- else %}{{ pgo_image_prefix }}/pgo-client:{{ pgo_image_tag }}
                                        {%- endif %}",
                        "imagePullPolicy": "IfNotPresent",
                        "env": [
                            {
                                "name": "PGO_APISERVER_URL",
                                "value": "{{ pgo_apiserver_url }}:{{ pgo_apiserver_port }}"
                            },
                            {
                                "name": "PGOUSERNAME",
                                "valueFrom": {
                                    "secretKeyRef": {
                                        "name": "pgouser-{{ pgo_admin_username }}",
                                        "key": "username"
                                    }
                                }
                            },
                            {
                                "name": "PGOUSERPASS",
                                "valueFrom": {
                                    "secretKeyRef": {
                                        "name": "pgouser-{{ pgo_admin_username }}",
                                        "key": "password"
                                    }
                                }
                            },
                            {
                                "name": "PGO_CA_CERT",
                                "value": "pgo-tls/client.crt"
                            },
                            {
                                "name": "PGO_CLIENT_CERT",
                                "value": "pgo-tls/client.crt"
                            },
                            {
                                "name": "PGO_CLIENT_KEY",
                                "value": "pgo-tls/client.key"
                            }
                        ],
                        "volumeMounts": [
                            {
                                "name": "pgo-tls-volume",
                                "mountPath": "pgo-tls"
                            }
                        ]
                    }
                ],
                "volumes": [
                    {
                        "name": "pgo-tls-volume",
                        "secret": {
                            "secretName": "{{ pgo_client_cert_secret }}",
                            "items": [
                                {
                                    "key": "tls.crt",
                                    "path": "client.crt"
                                },
                                {
                                    "key": "tls.key",
                                    "path": "client.key"
                                }
                            ]
                        }
                    }
                ]
            }
        }
    }
}
