Cluster:
  CCPImagePrefix:  {{ ccp_image_prefix }}
  CCPImageTag:  {{ ccp_image_tag }}
  DisableAutofail:  {{ disable_auto_failover }}
  BackrestPort:  {{ backrest_port }}
  BackrestGCSBucket: {{ backrest_gcs_bucket }}
  BackrestGCSEndpoint: {{ backrest_gcs_endpoint }}
  BackrestGCSKeyType: {{ backrest_gcs_key_type }}
  BackrestS3Bucket: {{ backrest_aws_s3_bucket }}
  BackrestS3Endpoint: {{ backrest_aws_s3_endpoint }}
  BackrestS3Region: {{ backrest_aws_s3_region }}
  BackrestS3URIStyle: {{ backrest_aws_s3_uri_style }}
  BackrestS3VerifyTLS: "{{ backrest_aws_s3_verify_tls }}"
  Metrics:  {{ metrics }}
  Badger:  {{ badger }}
  Port:  {{ db_port }}
  PGBadgerPort: {{ pgbadgerport }}
  ExporterPort: {{ exporterport }}
  User:  {{ db_user}}
  Database:  {{ db_name }}
  PasswordAgeDays:  {{ db_password_age_days }}
  PasswordLength:  {{ db_password_length }}
  Replicas:  {{ db_replicas }}
  ServiceType:  {{ service_type }}
  DisableReplicaStartFailReinit:  {{ disable_replica_start_fail_reinit }}
  PodAntiAffinity:  {{ pod_anti_affinity }}
  PodAntiAffinityPgBackRest: {{ pod_anti_affinity_pgbackrest }}
  PodAntiAffinityPgBouncer: {{ pod_anti_affinity_pgbouncer }}
  SyncReplication:  {{ sync_replication }}
{% if disable_fsgroup is defined %}
  DisableFSGroup: {{ disable_fsgroup }}
{% endif %}
  DefaultInstanceMemory: {{ default_instance_memory }}
  DefaultBackrestMemory: {{ default_pgbackrest_memory }}
  DefaultPgBouncerMemory: {{ default_pgbouncer_memory }}
  DefaultExporterMemory: {{ default_exporter_memory }}
PrimaryStorage: {{ primary_storage }}
WALStorage: {{ wal_storage }}
BackupStorage: {{ backup_storage }}
ReplicaStorage: {{ replica_storage }}
BackrestStorage: {{ backrest_storage }}
PGAdminStorage: {{ pgadmin_storage }}
Storage:
{% for i in range(1, max_storage_configs) %}
{% if lookup('vars', 'storage' + i|string + '_name', default='')  != '' %}
  {{ lookup('vars', 'storage' + i|string + '_name', default='') }}:
    AccessMode:  {{ lookup('vars', 'storage' + i|string + '_access_mode') }}
    Size:  {{ lookup('vars', 'storage' + i|string + '_size') }}
    StorageType:  {{ lookup('vars', 'storage' + i|string + '_type') }}
{% if lookup('vars', 'storage' + i|string + '_match_labels', default='') != '' %}
    MatchLabels: {{ lookup('vars', 'storage' + i|string + '_match_labels') }}
{% endif %}
{% if lookup('vars', 'storage' + i|string + '_class', default='') != '' %}
    StorageClass: {{ lookup('vars', 'storage' + i|string + '_class') }}
{% endif %}
{% if lookup('vars', 'storage' + i|string + '_supplemental_groups', default='') != '' %}
    SupplementalGroups: {{ lookup('vars', 'storage' + i|string + '_supplemental_groups') }}
{% endif %}
{% endif %}
{% endfor %}
Pgo:
  Audit:  false
  DisableReconcileRBAC: {{ not reconcile_rbac | bool }}
  PGOImagePrefix:  {{ pgo_image_prefix }}
  PGOImageTag:  {{ pgo_image_tag }}
