apiVersion: v1
kind: Secret
metadata:
  labels:
    pgo-created-by: bootstrap
    pgo-pgorole: "true"
    rolename: {{ pgo_admin_role_name }}
    vendor: crunchydata
  name: pgorole-{{ pgo_admin_role_name }}
  namespace: {{ pgo_operator_namespace }}
type: Opaque
data:
  permissions: "{{ pgo_admin_perms | b64encode }}"
  rolename: {{ pgo_admin_role_name | b64encode }}
