apiVersion: v1
kind: Secret
metadata:
  labels:
    pgo-created-by: bootstrap
    pgo-pgouser: "true"
    username: {{ pgo_admin_username }}
    vendor: crunchydata
  name: pgouser-{{ pgo_admin_username }}
  namespace: {{ pgo_operator_namespace }}
type: Opaque
data:
  password: '{{ pgo_admin_password | b64encode }}'
  username: '{{ pgo_admin_username | b64encode }}'
  roles: '{{ pgo_admin_role_name | b64encode }}'
