{
    "kind": "Service",
    "apiVersion": "v1",
    "metadata": {
	"name": "postgres-operator",
        "labels": {
            "name": "postgres-operator"
        }
    },
    "spec": {
        "ports": [
            {
                "name": "apiserver",
                "protocol": "TCP",
                "port": {{ pgo_apiserver_port }},
                "targetPort": {{ pgo_apiserver_port }}
            }
        ],
        "selector": {
            "name": "postgres-operator"
        },
        "type": "ClusterIP",
        "sessionAffinity": "None"
    }
}
