{
    "kind": "PersistentVolumeClaim",
    "apiVersion": "v1",
    "metadata": {
        "name": "grafanadata"
    },
    "spec": {
        "accessModes": [
            "{{ grafana_storage_access_mode }}"
        ],
        "storageClassName": "{{ grafana_storage_class_name }}",
        "resources": {
            "requests": {
                "storage": "{{ grafana_volume_size }}"
            }
        }
    }
}
