{
    "kind": "PersistentVolumeClaim",
    "apiVersion": "v1",
    "metadata": {
        "name": "prometheusdata"
    },
    "spec": {
        "accessModes": [
            "{{ prometheus_storage_access_mode }}"
        ],
        "storageClassName": "{{ prometheus_storage_class_name }}",
        "resources": {
            "requests": {
                "storage": "{{ prometheus_volume_size }}"
            }
        }
    }
}
