{
    "apiVersion": "apps/v1",
    "kind": "Deployment",
    "metadata": {
        "name": "crunchy-prometheus"
    },
    "spec": {
        "replicas": 1,
        "selector": {
          "matchLabels": {
            "name": "{{ prometheus_service_name }}",
            "vendor": "crunchydata"
          }
        },
        "template": {
            "metadata": {
                "labels": {
                    "name": "{{ prometheus_service_name }}",
                    "vendor": "crunchydata"
                }
            },
            "spec": {
                "securityContext": {
{% if prometheus_supplemental_groups is defined and prometheus_supplemental_groups != '' %}
                    "supplementalGroups": [{{ prometheus_supplemental_groups }}]
{% elif prometheus_fs_group is defined and prometheus_fs_group != '' %}
                    "fsGroup": {{ prometheus_fs_group }}
{% endif %}
                },
                "serviceAccountName": "prometheus-sa",
                "containers": [
                    {
                        "name": "prometheus",
                        "image": "{{ ccp_image_prefix }}/crunchy-prometheus:{{ ccp_image_tag }}",
                        "ports": [
                            {
                                "containerPort": {{ prometheus_port }},
                                "protocol": "TCP"
                            }
                        ],
                        "readinessProbe": {
                            "tcpSocket": {
                                "port": {{ prometheus_port }}
                            },
                            "initialDelaySeconds": 20,
                            "periodSeconds": 10
                        },
                        "livenessProbe": {
                            "tcpSocket": {
                                "port": {{ prometheus_port }}
                            },
                            "initialDelaySeconds": 15,
                            "periodSeconds": 20
                        },
                        "env": [],
                        "volumeMounts": [
                            {
                                "mountPath": "/conf",
                                "name": "prometheusconf",
                                "readOnly": true
                            },
                            {
                                "mountPath": "/data",
                                "name": "prometheusdata",
                                "readOnly": false
                            }
                        ]
                    }
                ],
                "volumes": [
                    {
                        "name": "prometheusconf",
                        "configMap": {
                            "name": "crunchy-prometheus"
                        }
                    },
                    {
                        "name": "prometheusdata",
                        "persistentVolumeClaim": {
                            "claimName": "prometheusdata"
                        }
                    }
                ]
            }
        }
    }
}
