apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  labels:
    app: {{ template "name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  template:
    metadata:
      labels:
        app: {{ template "name" . }}
        release: {{ .Release.Name }}
        name: postgres-operator
    spec:
      containers:
        - name: apiserver
          image: "{{ .Values.env.co_image_prefix }}/pgo-apiserver:{{ .Values.env.co_image_tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          securityContext: {}
          ports:
            - containerPort: 8443
          env:
            - name: CRUNCHY_DEBUG
              value: "{{ .Values.env.debug }}"
          volumeMounts:
            - name: apiserver-conf
              mountPath: /config
              readOnly: true
            - name: operator-conf
              mountPath: /operator-conf
              readOnly: true
        - name: operator
          image: "{{ .Values.env.co_image_prefix }}/postgres-operator:{{ .Values.env.co_image_tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          securityContext: {}
          env:
            - name: CRUNCHY_DEBUG
              value: "{{ .Values.env.debug }}"
            - name: CCP_IMAGE_PREFIX
              value: "{{ .Values.env.ccp_image_prefix }}"
            - name: CO_IMAGE_PREFIX
              value: "{{ .Values.env.co_image_prefix }}"
            - name: CO_IMAGE_TAG
              value: "{{ .Values.env.co_image_tag }}"
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: MY_POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          volumeMounts:
            - name: operator-conf
              mountPath: /operator-conf
              readOnly: true
          resources:
{{ toYaml .Values.resources | indent 12 }}
      volumes:
        - name: operator-conf
          configMap:
            name: operator-conf
        - name: apiserver-conf
          secret:
            secretName: apiserver-conf-secret
