namespace: postgres-operator

commonLabels:
  postgres-operator.crunchydata.com/control-plane: postgres-operator

bases:
- ../crd
- ../rbac/namespace
- ../manager

patches:
- manager-target.yaml

images:
- name: postgres-operator
  newName: registry.developers.crunchydata.com/crunchydata/postgres-operator
  newTag: ubi8-5.1.0-0
