kind: Kustomization

namespace: postgres-operator

labels:
- includeSelectors: false
  includeTemplates: true
  pairs:
    app.kubernetes.io/name: pgo
    app.kubernetes.io/version: 6.0.1
- includeSelectors: true
  includeTemplates: true
  pairs:
    postgres-operator.crunchydata.com/control-plane: postgres-operator

resources:
- ../crd
- ../rbac/namespace
- ../manager

components:
- ../components/images-by-tag
- ../components/single-namespace
