---
- name: Get Project Details
  shell: "{{ openshift_oc_bin}} get project {{ metrics_namespace }}"
  register: namespace_details
  ignore_errors: yes
  no_log: true
  tags: install-metrics

- name: Create Project {{ metrics_namespace }}
  shell: "{{ openshift_oc_bin}} new-project {{ metrics_namespace }}"
  when: namespace_details.rc != 0
  tags: install-metrics
