{
    "apiVersion": "apps/v1",
    "kind": "Deployment",
    "metadata": {
        "name": "crunchy-alertmanager",
        "labels": {
            "app.kubernetes.io/name": "{{ app_name }}"
        }
    },
    "spec": {
        "replicas": 1,
        "selector": {
          "matchLabels": {
            "name": "{{ alertmanager_service_name }}",
            "app.kubernetes.io/name": "{{ app_name }}"
          }
        },
        "template": {
            "metadata": {
                "labels": {
                    "name": "{{ alertmanager_service_name }}",
                    "app.kubernetes.io/name": "{{ app_name }}"
                }
            },
            "spec": {
                "securityContext": {
{% if (alertmanager_supplemental_groups | default('')) != '' %}
                    "supplementalGroups": [{{ alertmanager_supplemental_groups }}]
{% endif %}
{% if not (disable_fsgroup | default(false) | bool) %}
                    {% if (alertmanager_supplemental_groups | default('')) != '' %},{% endif -%}
                    "fsGroup": 26,
                    "runAsUser": 2,
                    "runAsNonRoot": true
{% endif %}
                },
                "serviceAccountName": "alertmanager",
                "containers": [
                    {
                        "name": "alertmanager",
                        "image": "{{ alertmanager_image_prefix }}/{{ alertmanager_image_name }}:{{ alertmanager_image_tag }}",
                        "args": [
                            "--config.file=/etc/alertmanager/alertmanager.yml",
                            "--storage.path=/alertmanager",
                            "--log.level={{ alertmanager_log_level }}",
                            "--cluster.advertise-address=0.0.0.0:{{ alertmanager_port }}"
                        ],
                        "ports": [
                            {
                                "containerPort": {{ alertmanager_port }},
                                "protocol": "TCP"
                            }
                        ],
                        "readinessProbe": {
                            "httpGet": {
                                "path": "/-/ready",
                                "port": {{ alertmanager_port }}
                            },
                            "periodSeconds": 10
                        },
                        "livenessProbe": {
                            "httpGet": {
                                "path": "/-/healthy",
                                "port": {{ alertmanager_port }}
                            },
                            "initialDelaySeconds": 25,
                            "periodSeconds": 20
                        },
                        "volumeMounts": [
                            {
                                "mountPath": "/etc/alertmanager",
                                "name": "alertmanagerconf"
                            },
                            {
                                "mountPath": "/alertmanager",
                                "name": "alertmanagerdata"
                            }
                        ]
                    }
                ],
                "volumes": [
                    {
                        "name": "alertmanagerdata",
                        "persistentVolumeClaim": {
                            "claimName": "alertmanagerdata"
                        }
                    },
                    {
                        "name": "alertmanagerconf",
                        "configMap": {
                            "name": "{{ alertmanager_configmap }}"
                        }
                    }
                ]
            }
        }
    }
}
