{
    "apiVersion": "v1",
    "kind": "ServiceAccount",
    "metadata": {
        "name": "alertmanager",
        "labels": {
            "app.kubernetes.io/name": "{{ app_name }}"
        }
    },
    "automountServiceAccountToken": false,
    "imagePullSecrets": [
{% if metrics_image_pull_secret %}
        { "name": "{{ metrics_image_pull_secret }}" }
{% endif %}
    ]
}
