{
    "apiVersion": "v1",
    "kind": "Secret",
    "metadata": {
        "name": "grafana-secret",
        "labels": {
            "app.kubernetes.io/name": "{{ app_name }}"
        }
    },
    "type": "Opaque",
    "stringData": {
        "username": "{{ grafana_admin_username }}",
        "password": "{{ grafana_admin_password }}"
    }
}
