{
    "apiVersion": "v1",
    "kind": "ServiceAccount",
    "metadata": {
        "name": "grafana",
        "labels": {
            "vendor": "crunchydata"
        }
    },
    "automountServiceAccountToken": false,
    "imagePullSecrets": [
{% if metrics_image_pull_secret %}
        { "name": "{{ metrics_image_pull_secret }}" }
{% endif %}
    ]
}
